.iha-btn {
	width: 100%;
	background-color: black;
	color: white;
}

.iha-attention-btn {
	background-color: red;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.iha-content-panel {
	padding-left: 30px;
	padding-right: 30px;
}

.iha-lst-btn {
	width: auto;
}

.dojo-table {
	width: 100%;
}

.navbar-toggle {
	color: #FFCC00;
}

.navbar-toggle:focus, .navbar-toggle:hover {
	background-color: #FFCC00;
	color: black
}

.iha-attention-btn:hover {
	background-color: #FFCC00;
	font-weight: bold;
	color: black;
	outline: none;
}

.iha-btn:focus {
	background-color: #FFCC00;
	color: black;
	outline: none;
}

.iha-btn:hover {
	background-color: #FFCC00;
	color: black;
	outline: none;
}

.iha-btn-selected {
	background-color: #FFCC00;
	color: black;
	outline: none;
}

.iha-carousel {
	float: none;
	margin: 0 auto;
}

.iha-carousel-text {
	text-align: left;
	color: white;
	text-shadow: 2px 2px #000000;
}

.pastEvent {
	color: grey;
}

.iha-navbar {
	background-color: black;	
}

.iha-map {
	width: 85%;
	height: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	background-color: black;
	padding: 10px;
}

.footer-txt {
	color: white;
	clear: left
}

.foot-notes {
	font-size: 13px;
	font-style: italic;
}

.img-with-txt {
	float: left;
	margin-right: 5px;
}

.itinerary {
	margin: 0 auto;
}

.lineage {
	width: 600px;
	height: 600px;
}

p {
	font-size: 16px;
}

li {
	font-size: 16px;
}

.lineage-img {
	border-radius: 50%;
	margin: 20px;
}

.lineage-wrapper {
	text-align: center;
	display: inline-block;
}