<div id="{{ctrl.getId(dojo)}}" ng-repeat="dojo in ctrl.dojos">
  <h3>{{dojo.dojo}}<br>
    <small>
      <span ng-repeat="instrctr in dojo.instructor">{{instrctr.name}}, <i>{{instrctr.rank}}</i><span ng-if="$index + 1 < dojo.instructor.length">,&nbsp</span>
      </span>
    </small>
  </h3>
  <p ng-if="dojo.addr || dojo.website || dojo.phone || dojo.email">
    <span ng-if="dojo.addr">{{dojo.addr}}<br></span>
    <span ng-if="dojo.website">site: <a href="http://{{dojo.website}}">{{dojo.website}}</a><br></span>
    <span ng-if="dojo.email">email: <a href="mailto:{{dojo.email}}">{{dojo.email}}</a><br></span>
    <span ng-if="dojo.phone != null && dojo.phone.length > 0">phone: {{dojo.phone}}</span>  
  </p>
  <br>
</div>

<div ng-if="ctrl.dojos.length === 0">
  <p>No {{ctrl.type}} dojos to display.</p>
</div>