<h2 id="Timeline">Timeline</h2>

<div ng-repeat="evt in ctrl.history">
  <h3>{{evt.date}}</h3>
  <p>
    {{evt.info}}
    <span ng-repeat="src in evt.sources"><b>{{src}}</b>&nbsp</span>
  </p>
</div>

<h4>Sources</h4>
<ol>
  <li class="foot-notes" ng-repeat="src in ctrl.sources">{{src}}</li>
</ol>

<h4>Acknowledgemets</h4>

<p class="foot-notes">Our grateful thanks to the many people who reviewed and provided comments and corrections 
on this history section. The knowledge and patient assistance of Sensei Seikichi Iha in reviewing 
historical details and providing personal photos and references was essential and without which this 
project could not have been completed. Special thanks also to Sensei Koichi Nakasone for his expert 
review. We sincerely appreciate the contributions and reviews provided by: Mark McCloud, Ken Carpenter, 
Jim Kass, Joe Swift, Joseph Svinth (Electronic Journal of Martial Arts), Kirt Butler, Matthew Hubinger, 
Preston Groleau, Gus Kouklis, Katsushi Okada and Lou Shoha. Note that there may be differences in name 
spellings for individuals and places (often due to variations in pronunciation between Okinawan and 
Japanese language or varying English translations) Historical references do not always agree on dates 
or place names. We have included some of the variable spellings in parenthesis whenever possible. 
Suggestions for additions or corrections are welcomed.</p>

<p class="foot-notes">And most of all thanks to Marian Reiter, who spent countless hours researching, interviewing,
and compiling this historical account.</p>