<div class="btn-group-vertical" role="group">
  <a href="/index" ng-class="ctrl.getClass('index.html')">Home</a>
  <a href="/biographies/sensei" ng-class="ctrl.getClass('sensei.html')">Sensei Iha</a>
  <a href="/association" ng-class="ctrl.getClass('association.html')">Association</a>
  <a href="/hombu" ng-class="ctrl.getClass('hombu.html')">Iha Dojo</a>
  <a href="/history" ng-class="ctrl.getClass('history.html')">History</a>
  <a href="/events" ng-class="ctrl.getClass('events.html')">Events</a>
  <a href="/sitemap" ng-class="ctrl.getClass('sitemap.html')">Site Map</a>
  <!-- a href="/glossary.html" ng-class="ctrl.getClass('glossary.html')">Glossary</a> -->
</div>