<h3>{{ctrl.term.term}}<br><small>{{ctrl.term.meaning}}</small></h3>
  
<span ng-if="ctrl.hasNotes()">
  
  <span ng-class="{'less-glossary-txt': !ctrl.more}">  
    {{ctrl.displayString()}}
  </span>
  
  <button class="btn btn-xs iha-btn iha-lst-btn"
          ng-if="ctrl.canShowMore()" 
	      ng-click="ctrl.more = !ctrl.more">{{ctrl.moreLessStr()}}</button>

</span>

<div>
  <h5 ng-if="ctrl.term.related != null && ctrl.term.related.length > 0">See also:</h5>
  <span ng-repeat="related in ctrl.term.related">
    <span class="label label-default">{{related}}</span>&nbsp
  </span>
 </div>

<hr>