<h2 id="Documents">Documents</h2>
<h3 id="AssociationDirectory">Association Directory</h3>
<a href="/association/downloads/directory.pdf">Association Directory (PDF)</a>
<hr>

<h3 id="MemberApplication">Member Application</h3>
<a href="/association/downloads/member_application.docx">Member Application (Word)</a><br>
<a href="/association/downloads/member_application.pdf">Member Application (PDF)</a>
<hr>

<h3 id="EquipmentOrderForms">Equipment Order Form</h3>
<p>Requests for equipment can be made using the form below.</p>
<a href="/association/downloads/order_form.pdf">Order Form (PDF)</a>
<hr>

<h2 id="InformationForBeikokuShidokanDojoDirectors">Information for Beikoku Shidokan Dojo Directors</h2>
<h3 id="DanTestingForms">Dan Testing Forms</h3>
<p>Affiliated Beikoku Shido-kan Association dojo directors have the authority to recommend 
students for Dan testing conducted by the Beikoku Shido-kan Association testing board. 
The following forms need to be submitted by dojo directors before the testing date.</p>

<a href="/association/downloads/dan_application.docx">Test Application for Dan Ranking (Word)</a><br>
<a href="/association/downloads/dan_application.pdf">Test Application for Dan Ranking (PDF)</a>
<hr>

<h3 id="KyuTestingForms">Kyu Testing Forms</h3>
<p>Affiliated Beikoku Shido-kan Association dojo directors have the authority to order 
Beikoku Shido-kan Association kyu certificates from Sensei Iha by downloading, filling out 
and mailing the Kyu Certificate Request Form with payment to the address specified.</p>
<a href="/association/downloads/kyu_certification_request.docx">Certification request for Kyu Ranking (Word)</a><br>
<a href="/association/downloads/kyu_certification_request.pdf">Certification request for Kyu Ranking (PDF)</a>
<hr>

<h3 id="AssociationBylaws">Association Bylaws</h3>
<p>Restated November 1st, 2018</p>
<a href="/association/downloads/association_bylaws.pdf">Association Bylaws (PDF)</a><br>
<a href="/association/downloads/guidelines_for_evaluating_dan_degree_candidates.pdf">Guidelines for Evaluating Dan Degree Candidates (PDF)</a>
<hr>