<!-- TODO display alert of next event, do not show ihaOnly events here -->

<div ng-repeat="evt in ctrl.evts" ng-init="passed = ctrl.hasPassed(evt)">
  <h3 ng-class="{passedEvent: passed}">{{evt.title}}<br><small>{{ctrl.getDisplayDate(evt)}}</small></h3>
  <div class="evt-panel-padding">
    <div ng-if="!ctrl.hasPassed(evt)"class="panel panel-default panel-body evt-panel">
      <div ng-if="evt.location != null && evt.location.length > 0">
	    <p ng-class="{passedEvent: passed}"><b>Location:</b> {{evt.location}}</p>
      </div>
	  
      <div ng-if="evt.host != null && evt.host.length > 0">
        <p ng-class="{passedEvent: passed}"><b>Host:</b> {{evt.host}}</p>
      </div>  
	  
      <div ng-if="evt.notes != null && evt.notes.length > 0">
        <p ng-class="{passedEvent: passed}"><b>Details:</b> {{evt.notes}}</p>
      </div>
    </div>
  </div>
  
</div>