<div ng-repeat="evt in ctrl.evts" ng-init="past = ctrl.isPastEvt(evt)">
  
  <h3 ng-class="{pastEvent: past}">{{evt.title}}<br><small>{{ctrl.getDisplayDate(evt)}}</small></h3>
    
    <div ng-if="!ctrl.isPastEvt(evt)"class="panel panel-default panel-body">
      <div ng-if="evt.location != null && evt.location.length > 0">
	    <p ng-class="{pastEvent: past}"><b>Location:</b> {{evt.location}}</p>
      </div>
	  
      <div ng-if="evt.host != null && evt.host.length > 0">
        <p ng-class="{pastEvent: past}"><b>{{ctrl.getHostLabel(evt)}}:</b> {{ctrl.getHostString(evt)}}</p>
      </div>  
	  
      <div ng-if="evt.notes != null && evt.notes.length > 0">
        <p ng-class="{pastEvent: past}"><b>Details:</b> {{evt.notes}}</p>
      </div>
    </div>
  
</div>