<h2>About</h2>

<p>Headquarters of the Beikoku Shidokan Association</p>

<h2>Visit</h2>
<p>Anyone is welcome to visit</p>

<h2>Try a class</h2>
<p>Try a complimentary class! New students are welcome to join at
any time. Both youth and adult classes are available. The study of
karate-do can become a long-term personal investment, so it is
recommended that you observe or participate in a class, talk with
the instructors, and then decide if the dojo and style are right 
for you. Call (517) 482-3217 or email mail@ihadojo.com 
to arrange a time to visit.</p>

<h2>Class schedule</h2>
<table>
<tr>
<td></td><td>MON</td><td>TUE</td><td>WEN</td><td>THU</td><td>FRI</td><td>SAT</td>
</tr>
<tr>
<td><b>Youth</b></td><td>-</td><td>4.30-5.30PM</td><td>-</td><td>4.30-5.30PM</td><td>-</td><td>-</td>
</tr>
<tr>
<td><b>Adult</b></td><td>12-1PM</td><td>-</td><td>12-1PM</td><td>-</td><td>12-1PM</td><td>9-10AM</td>
</tr>
<tr>
<td><b>Adult</b></td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>-</td>
</tr>
<tr>
<td><b>Kobudo</b></td><td>-</td><td>6.30-7.30PM</td><td>-</td><td>6.30-7.30PM</td><td>-</td><td>-</td>
</tr>
</table>


<h2>Location</h2>
<p>The dojo is located at 2018 East Michigan Ave, Lansing, Michigan.</p>
<iframe class="itinerary" width="75%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.5996901923277!2d-84.52159779999998!3d42.7333629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8822e9fffb4fdb97%3A0x5f7ddbe71388855d!2s2018+E+Michigan+Ave%2C+Lansing%2C+MI+48912!5e0!3m2!1sen!2sus!4v1427068386006" width="600" height="450" frameborder="0" style="border:0"></iframe>