<div style="width:75%" ng-controller="CarouselCtrl" class="iha-carousel"><!-- TODO move style to css -->
  <carousel interval="interval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.img}}">
      <div class="carousel-caption">
        <h3 class="iha-carousel-text">{{slide.text}}</h3>
      </div>
    </slide>
  </carousel>
</div>

<br>

<h2>Welcome</h2>
<p>Home to news and information on Sensei Seikichi Iha, Hanshi, 10th Dan, and 
the Beikoku Shidokan Karatedo Association.</p>

<h2>Prospective Students</h2>
<p>Check <a href="hombu.html">here</a> for our class schedule and how you can
join today.</p>

<h2>News</h2>
<p>The Iha Dojo is always open to visitors, whether are a travelling Shidokan
student, pre-dan test student, prospective new student, or just interested in
observing. Visitors are <i>always</i> welcome to participate in a Shidokan
karate class.</p>

<p>Congratulations to all those who were apart of the March 21st Dan test.</p>

<p>The Nation Training Seminar (NTS) is on the horizon. Register 
<a href="nts.html">here</a></p>