<div style="width:75%" ng-controller="CarouselCtrl" class="iha-carousel"><!-- TODO move style to css -->
  <carousel interval="interval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.img}}">
      <div class="carousel-caption">
        <h3 class="iha-carousel-text">{{slide.text}}</h3>
      </div>
    </slide>
  </carousel>
</div>

<br>

<a href="hombu.html" class="btn iha-attention-btn">Prospective Students</a>
<a href="hombu.html" class="btn iha-attention-btn">Class Schedule</a>
  
<h2>News</h2>
<p>A "teacher of teachers," Seikichi Iha, Sensei, began his karate training in 
Okinawa more than 50 years ago, studying under the renowned masters, Shinpan 
Gusukuma, Sensei, and Katsuya Miyahira, Sensei.</p>

<p>Before coming to Michigan, Iha Sensei trained students in Okinawa, Japan; 
the Philippines; Guam; and Los Angeles, California. His Lansing dojo is now 
the headquarters for more than 30 North American schools and is  frequently 
visited by karate practitioners from around the globe.</p>

<p>
Iha Sensei is respected worldwide for his tremendous practical knowledge of karate
technique as well as for his warm, engaging and expert teaching style. As he explains
it, for Iha Sensei, teaching karate-do is much more than teaching self-defense — it
is a way to learn about people through mutual cooperation and a way to form lifelong
friendships. Iha Sensei believes that encouraging the development of cooperation, 
respect, friendship and healthy living through karate is of great importance. This 
philosophy is at the core of his instruction and daily interactions with his students.</p>