<h2>National Training Seminar (NTS) 2018 <br><small>July 20th-22nd, 2018</small></h2>
<!--<p><i>Updated: Nov. 24, 2015</i></p>-->

<p>Join Sensei Seikichi Iha, Hanshi, 10th Dan, and fellow Beikoku Shidokan Association members for a tremendous
learning opportunity. Shidokan practitioners and supporters from around the globe will gather in Lansing, Michigan
to learn and train together. NTS is a great time to reconnect with old friends and learn together with new people
within Shidokan Karate community.</p>

<p><b>Plan to join Sensei in Lansing July 20th-22nd, 2018.</b></p>
<hr>

<h2 id="Registration">Registration</h2>
<p><i>Registration is now open.</i>You can visit the registration form on a separate page <a target="_blank" href="https://www.eventbrite.com/e/beikoku-shido-kan-karate-do-association-national-training-seminar-nts-18-tickets-45175049790">here</a>.</p>

<hr>

<h2 id="WhoShouldAttend">Who Should Attend?</h2>

<p>All Shidokan karate students are encouraged to attend. Seminar sessions are designed so that anyone, regardless of
age or rank, can benefit and learn. Throughout the weekend you will be able to train with and share information with
fellow students and teachers from <i>around the world</i>.</p>

<p>Non-Shidokan karateka are also welcomed to attend.</p>

<p>Sensei Iha invites you to improve your karate practice through the development of expanded friendships and the
cooperation learned by training with new partners.</p>
<hr>

<h2 id="Schedule">Schedule <small>Updated July 15th</small></h2>

<p><a href="/association/downloads/nts_before_and_after_schedule.pdf">Download the before/after schedule here.</a></p>
<p><a href="/association/downloads/nts_2018_schedule.pdf">Download the seminar schedule here</a>, or view below.</p>
</br>

<h4>Thursday, July 19</h4>
<p><b>4:30-6:00pm:</b> Dan Test Participants arrive and warm up</p>
<p><b>5:00-6:00pm:</b> Pre-Examination Meeting (Testing Board Members)</p>
<p><b>6:00pm:</b> Dan Test</p>
</br>

<h4>Friday, July 20</h4>
<p><b>8:30-9:30am:</b> Intructor Meeting <i>(River Street Pub)</i></p>
<p><b>8:30-9:30am:</b> Seminar Check-in</p>
<p><b>10:00-12:00pm:</b> NTS Welcome, Training Session #1</p>
<p><b>12:00-1:30pm:</b> Lunch <i>(on your own) Lansing Center Concessions available 11:30am-4:30pm</i></p>
<p><b>1:30-3:00pm:</b> Training Session #2</p>
<p><b>3:00-4:30pm:</b> Break</p>
<p><b>4:30-6:00pm:</b> Training Session #3</p>
<p><b>6:00-7:00pm:</b> Business-Building Best Practices <i>(River Street Pub)</i></p>
</br>

<h4>Saturday, July 21</h4>
<p><b>8:00-8:30am:</b> Intructor Meeting <i>(River Street Pub)</i></p>
<p><b>8:30-9:30am:</b> Seminar Check-in</p>
<p><b>10:00-11:30am:</b> Training Session #1</p>
<p><b>11:30-1:00pm:</b> Lunch <i>(on your own) Lansing Center Concessions available 11:30am-4:30pm</i></p>
<p><b>1:00-2:00pm:</b> Training Session #2</p>
<p><b>2:00-3:00pm:</b> Group Photo, Personal Photos with Sensei Iha</p>
<p><b>3:00-3:30pm:</b> Break</p>
<p><b>3:30-5:00pm:</b> Training Session #3 and Youth/Teen Kata Tournament</p>
<p><b>7:00-9:00pm:</b> Celebration Banquet <i>(Banquet Rooms)</i></p>
<p><b>9:00-11:30pm:</b> NTS Social <i>(River Street Pub)</i></p>
</br>

<h4>Sunday, July 22</h4>
<p><b>9:00-11:00am:</b> Training with Sensei Iha, NTS Closing</p>
</br>

<hr>

<h2 id="Location">Location<br><small>Lansing Center, Lansing MI, USA</small></h2>

<p>This year, NTS will be held at the <a target="_blank" href="http://www.lansingcenter.com">Lansing Center</a>. The address
is <b>333 E. Michigan Ave, Lansing, MI 48933</b>, just a few miles from the <a href="/hombu">hombu dojo</a>.</p>

<p>There will be construction on the Eastbound side of the Michigan Avenue Bridge during the seminar. Use the "Stage Two" detour:</p>

<img id="detour-img" src="/association/downloads/nts_detour.png"/>
<br>

<p>The Lansing Center offers:</p>
<ul>
  <li>Spacious, air-conditioned training areas on the ground floor of the conference center</li>
  <li>Changing areas and restrooms adjacent to the seminar rooms</li>
  <li>Easy walking access to hotel and restaurants during breaks</li>
  <li>Rooms at a conference flat rate (hotel space is limited, <a target="_blank" href="http://www.radisson.com/lansing-hotel-mi-48933/lansing">book soon!</a>)
      When booking a room online, use the conference discount code <b>OOK718</b> to receive a discounted room rate. When calling to book a room, say you're coming for the <b>National Training Seminar</b>.
  </li>
  <li>A Saturday banquet dinner with is <i>included</i> in the "Seminar and Events" conference rate</li>
  <li>Plenty of close and cheap parking</li>
  <li>Easy access by hotel shuttle, bus, and freeways to <a target="_blank" href="http://www.flylansing.com">Lansing Capitol City Airport</a>, 
      the <a href="/hombu">hombu dojo</a>, shopping centers, entertainment, Lugnuts Stadium, Michigan's Capitol,
      and the Michigan State University Campus</li>
</ul>
<hr>

<h2 id="YouthSessions">Youth Sessions</h2>
<p>Youth sessions for ages 7-13 are available Friday-Saturday or Saturday-only and include the youth tournament on Saturday July 21. Teens age 14 and up can sign up for the Friday-Sunday seminar options and participate in the Saturday Youth and Teen Tournament. (For youth registration options, see the registration site <a target="_blank" href="https://www.eventbrite.com/e/beikoku-shido-kan-karate-do-association-national-training-seminar-nts-18-tickets-45175049790">here</a>.)</p>
<hr>

<h2 id="Kobudo">Kobudo</h2>
<p>A kobudo break-out session led by Sensei Takafumi Nakayama will focus on bo kata and partnership applications. All learning levels welcome. Please bring your equipment if possible. Only a limited number of bo will be available on site.</p>

<!-- TODO youth photos -->

<!-- TODO generalize map directive to go here, include marker for lansing center and hombu -->
<hr>

<h2 id="DojoReminders">Promote NTS at your Dojo</h2>
<p>Consider printing and handing out the following reminder documents at your dojo.</p>
<p><a target="_blank" href="/association/downloads/nts_2018_bookmark.pdf">NTS Bookmark</a></p>
<p><a target="_blank" href="/association/downloads/nts_2018_reminder_card.pdf">NTS Reminder Card</a></p>

<h2 id="Lodging">Lodging</h2>

<p>Lodging is available at the <a target="_blank" href=https://www.radisson.com/lansing-hotel-mi-48933/lansing >Lansing Radisson Hotel</a>, which connects to the Lansing Center via a skybridge. Rooms are available at a conference flat rate (hotel space is limited, book soon!) When booking a room online or by phone, use the conference discount code <b>OOK718</b> to receive a discounted room rate.</p>

<p>Reservations: 1 (800) 333-3333 (US/Canada Toll-free)</p>
<p>Telephone: 1 (517) 482-0188</p>

<hr>

<h2 id="Parking">Parking</h2>
<ul>
 <li>Hotel valet parking is $10.00 per day</li>
 <li>Parking is available under the Lansing Center</li>
 <li>Meter parking on the downtown streets is free Saturday and Sunday</li>
</ul>
<hr>

<h2 id="DanTest">Dan Test</h2>
<p>The Dan test will be held on <b>Thursday, July 19th</b> at the <a target="_blank" href=https://www.radisson.com/lansing-hotel-mi-48933/lansing >Lansing Center</a>. The time will be posted at a later date.</p>

<!--<p>The doors will be open to Exhibit hall B at 5pm. Directors will meet at 5pm in the back of Exhibit Hall B. Doors will lock at 8:30 when the test begins.</p>-->
<p>Cell phones must be turned off during the test.</p>

<p>No photography or video taping is permitted during the test.</p>
<hr>

<h2 id="DowntownLansing">Downtown Lansing</h2>

<p>Visit the <a target="_blank" href="http://www.lansingsports.org/event/2018-national-training-seminar-(nts)/16997/">NTS Conference visitor page</a> on the Greater Lansing Sports Authority website for info maps and information on things to do and places to eat in the downtown area. The conference center is walking distance to a wide variety of restaurants, Lansing's baseball park, and other attractions.</p>

<p>Nearby bicycle and kayak rentals are available for anyone interested in enjoying the Grand River and
river trail during the day.</p>

<p>More info will be available at the NTS Registration table.</p>
<hr>
