<h2>National Training Seminar (NTS) 2015<br><small>July 17th-19th, 2015</small></h2>
<p><i>Updated: March 25th, 2015</i></p>

<p>Join Sensei Seikichi Iha, Hanshi, 10th Dan, and fellow Beikoku Shidokan Association members for a tremendous
learning opportunity. Shidokan practitioners and supporters from around the globe will gather in Lansing, Michigan
to learn and train together. NTS is a great time to reconnect with old friends and learn together with new people
within Shidokan Karate community.</p>

<p><b>Plan to join Sensei in Lansing July 17th-19th, 2015.</b></p>

<h3>Who Should Attend?</h3>

<p>All Shidokan karate students are encouraged to attend. Seminar sessions are designed so that anyone, regardless of
age or rank, can benefit and learn. Throughout the weekend you will be able to train with and share information with
fellow students and teachers from <i>around the world</i>.</p>

<p>Non-Shidokan karateka are also welcomed to attend.</p> <!-- TODO -->

<p>Sensei Iha invites you to improve your karate practice through the development of expanded friendships and the
cooperation learned by training with new partners.</p>

<h3>Location<br><small>Lansing Center, Lansing MI, USA</small></h3>

<p>This year, NTS will be held at the <a href>Lansing Center</a> (same venue as 2014). The address
is <b>333 E. Michigan Ave, Lansing, MI 48933</b>, just a few miles from the <a href="hombu.html">hombu dojo</a>. The Lansing
Center offers:</p>

<ul>
  <li>Spacious, air-conditioned training areas on the ground floor of the conference center</li>
  <li>Changing areas and restrooms adjacent to the seminar rooms</li>
  <li>Easy walking access to hotel and restaurants during breaks</li>
  <li>Rooms at a conference flat rate (hotel space is limited, <a href>book soon!</a>)</li>
  <li>A Sunday banquet luncheon with is <i>included</i> in the "Seminar and Events" conference rate</li>
  <li>Plenty of close and cheap parking</li>
  <li>Easy access by hotel shuttle, bus, and freeways to <a href>Lansing Capitol City Airport</a>, 
      the <a href="hombu.html">hombu dojo</a>, shopping centers, entertainment, Lugnuts Stadium, Michigan's Capitol,
      and the Michigan State University Campus</li>
</ul>

<h3 id="youth">Youth Sessions</h3>
<!-- TODO age recommendation -->
<p>On <b>Saturday, July 20th</b>, Sensei Iha will lead a youth session, which will be followed by a youth and 
teen <i>kata tournament.</i></p>

<h3>Kobudo</h3>
<p>This year kobudo sessions will focus on bo kata, technique drills, partnership and bunkai. Please bring your
equipment if possible. Only a limited number of bo will be available on site.</p>

<!-- TODO youth photos -->

<!-- TODO generalize map directive to go here, include marker for lansing center and hombu -->

<h3>Lodging</h3>

<p>Lodging is available at the <a href>Lansing Radisson Hotel</a>, which connects to the Lansing Center
via a skybridge. The Radisson is providing a conference flat rate, but hotel space is limited, so be sure
book a room soon. There are other close-by accomodations, but the Radisson is most convenient.</p>

<h3>Parking</h3>
<ul>
 <li>Hotel valet parking is $8.50 per day</li>
 <li>Parking under the Lansing Center is $6 per day</li>
 <li>Meter parking on the downtown streets is free Saturday and Sunday</li>
</ul>

<h3>Schedule</h3>
<p>The schedule has yet to be determined.</p>

<h3>Dan Test</h3>
<p>The Dan test is on <b>Thursday, July 16th</b> at 6:00pm sharp at the <a href>Lansing Center</a>. The doors 
will be open to Exhibit hall B at 5pm. Directors will meet at 5pm in the back of Exhibit Hall B. Doors will 
lock at 6pm when the test begins. Cell phones must be turned off during the test.</p>

<p>No photography or video taping is permitted during the test unless prior authorization is received.</p>

<h3>Registration</h3>
<p>Register <a href>here</a>.</p>

<h3>Downtown Lansing</h3>

<p>Visit the <a href="">NTS Conference visitor page</a> on the Greater Lansing Sports Authority website
for info maps and information on things to do and places to eat in the downtown area. The conference center
is walking distance to a wide variety of restaurants, Lansing's baseball park, and other attractions.</p>

<p>Nearby bicycle and kayak rentals are available for anyone interested in enjoying the Grand River and
river trail during the day.</p>

<p>More info will be avaiable at the NTS Registration table.</p>