<h2>National Training Seminar (NTS) 2017 <br> <b>40th</b> Anniversary Celebration<br><small>July 21nd-23th, 2017</small></h2>
<!--<p><i>Updated: Nov. 24, 2015</i></p>-->

<p>Join Sensei Seikichi Iha, Hanshi, 10th Dan, and fellow Beikoku Shidokan Association members for a tremendous
learning opportunity. Shidokan practitioners and supporters from around the globe will gather in Lansing, Michigan
to learn and train together. NTS is a great time to reconnect with old friends and learn together with new people
within Shidokan Karate community.</p>

<p><b>Plan to join Sensei in Lansing July 21nd-23th, 2017.</b></p>
<hr>

<h2 id="WhoShouldAttend">Who Should Attend?</h2>

<p>All Shidokan karate students are encouraged to attend. Seminar sessions are designed so that anyone, regardless of
age or rank, can benefit and learn. Throughout the weekend you will be able to train with and share information with
fellow students and teachers from <i>around the world</i>.</p>

<p>Non-Shidokan karateka are also welcomed to attend.</p> <!-- TODO -->

<p>Sensei Iha invites you to improve your karate practice through the development of expanded friendships and the
cooperation learned by training with new partners.</p>
<hr>

<h2 id="Location">Location<br><small>Lansing Center, Lansing MI, USA</small></h2>

<p>This year, NTS will be held at the <a href="http://www.lansingcenter.com">Lansing Center</a>. The address
is <b>333 E. Michigan Ave, Lansing, MI 48933</b>, just a few miles from the <a href="/hombu.html">hombu dojo</a>. The Lansing
Center offers:</p>

<ul>
  <li>Spacious, air-conditioned training areas on the ground floor of the conference center</li>
  <li>Changing areas and restrooms adjacent to the seminar rooms</li>
  <li>Easy walking access to hotel and restaurants during breaks</li>
  <li>Rooms at a conference flat rate (hotel space is limited, <a href="http://www.radisson.com/lansing-hotel-mi-48933/lansing">book soon!</a>)
      When booking a room online or by phone, use the conference discount code <b>OOK717</b> to receive a discounted room rate.
  </li>
  <li>A Saturday banquet dinner with is <i>included</i> in the "Seminar and Events" conference rate</li>
  <li>Plenty of close and cheap parking</li>
  <li>Easy access by hotel shuttle, bus, and freeways to <a href="http://www.flylansing.com">Lansing Capitol City Airport</a>, 
      the <a href="/hombu.html">hombu dojo</a>, shopping centers, entertainment, Lugnuts Stadium, Michigan's Capitol,
      and the Michigan State University Campus</li>
</ul>
<hr>

<h2 id="YouthSessions">Youth Sessions</h2>
<p>See the <a>schedule</a> for more details.</p>
<hr>

<h2 id="Kobudo">Kobudo</h2>
<p>This year kobudo sessions will focus on bo kata, technique drills, partnership and bunkai. Please bring your
equipment if possible. Only a limited number of bo will be available on site.</p>

<!-- TODO youth photos -->

<!-- TODO generalize map directive to go here, include marker for lansing center and hombu -->
<hr>

<h2 id="Lodging">Lodging</h2>

<p>Lodging is available at the <a href=https://www.radisson.com/lansing-hotel-mi-48933/lansing >Lansing Radisson Hotel</a>, which connects to the Lansing Center via a skybridge. Rooms are available at a conference flat rate (hotel space is limited, book soon!) When booking a room online or by phone, use the conference discount code <b>OOK716</b> to receive a discounted room rate.</p>

<p>Reservations: 1 (800) 333-3333 (US/Canada Toll-free)</p>
<p>Telephone: 1 (517) 482-0188</p>

<hr>

<h2 id="Parking">Parking</h2>
<ul>
 <li>Hotel valet parking is $8.50 per day</li>
 <li>Parking under the Lansing Center is $6 per day</li>
 <li>Meter parking on the downtown streets is free Saturday and Sunday</li>
</ul>
<hr>

<h2 id="Schedule">Schedule</h2>
<p>A pdf of the schedule is available for download <a>here</a>. The schedule is <i>subject to change</i>.</p>
<hr>

<h2 id="DanTest">Dan Test</h2>
<p>The Dan test will be held on <b>Thursday, July 20th</b> at the <a href=https://www.radisson.com/lansing-hotel-mi-48933/lansing >Lansing Center</a>. The time will be posted at a later date.</p>

<!--<p>The doors will be open to Exhibit hall B at 5pm. Directors will meet at 5pm in the back of Exhibit Hall B. Doors will lock at 8:30 when the test begins.</p>-->
<p>Cell phones must be turned off during the test.</p>

<p>No photography or video taping is permitted during the test.</p>
<hr>

<h2 id="Registration">Registration</h2>
<div style="width:100%; text-align:left;"><iframe src="//eventbrite.com/tickets-external?eid=33979703207&ref=etckt" frameborder="0" height="1465" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>

<p>You can visit this form on a separate page <a href="https://www.eventbrite.com/e/beikoku-shido-kan-karate-do-association-national-training-seminar-nts-17-tickets-33979703207?aff=erelexpmlt">here</a>.</p>

<hr>

<h2 id="DowntownLansing">Downtown Lansing</h2>

<p>Visit the <a href="">NTS Conference visitor page</a> on the Greater Lansing Sports Authority website
for info maps and information on things to do and places to eat in the downtown area. The conference center
is walking distance to a wide variety of restaurants, Lansing's baseball park, and other attractions.</p>

<p>Nearby bicycle and kayak rentals are available for anyone interested in enjoying the Grand River and
river trail during the day.</p>

<p>More info will be available at the NTS Registration table.</p>
<hr>
