<nav ng-if="rootCtrl.isMobile" class="navbar navbar-default navbar">
  <a class="navbar-brand" href="index.html"><img src="imgs/ropes_menu.png"></a>
  
  <span class="dropdown" dropdown>
    <span class="glyphicon glyphicon-menu-hamburger navbar-toggle dropdown-toggle" dropdown-toggle></span>
    <ul class="dropdown-menu" role="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="sensei.html">Sensei Iha</a></li>
    </ul>
  </span>
</nav>

<h1 class="text-center">Beikoku Shidokan Karatedo Association</h1>

<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-2 text-center">

    <div ng-if="!rootCtrl.isMobile">
      <a href="index.html"><img src="imgs/ropes_lrg.png"></a>

      <br>
      <br>
    
      <iha-menu></iha-menu>

      <br>
      <br>
      
      <div class="text-center">
        <div>
          Beikoku Shidokan Association<br>
          2018 E. Michigan Ave.<br>
          Lansing, MI 48912 USA<br>
        </div>
        <br>
        <div>
          Tel: (517) 482-3217<br>
          Email: mail@ihadojo.com
        </div>
    </div>
      
    </div>

  </div>

  <div class="col-md-6 iha-content-panel" ng-include="content"></div>

  <div class="col-md-3"></div>
  </div>

<div class="row">
 <br>
 <div class="col-md-12 footer">
   <div class="text-center footer-txt">Copyright 2015 Beikoku Shidokan Association</div>
 </div>
</div>