<h1 class="text-center">Beikoku Shidokan Karatedo Association</h1>

<div class="row">
  <!-- Empty Column -->
  <div class="col-md-1"></div>

  <!-- Menu  -->
  <div class="col-md-2 text-center">

    <a href="index.html"><img class="small-ropes" src="imgs/ropes.png"></a>

    <br>
    <br>
    
    <iha-menu></iha-menu>

    <br>
    <br>

    <div class="text-center">
      <div>
        Beikoku Shidokan Association<br>
        2018 E. Michigan Ave.<br>
        Lansing, MI 48912 USA<br>
      </div>
      <br>
      <div>
        Tel: (517) 482-3217<br>
        Email: mail@ihadojo.com
      </div>
    </div>

  </div>

  <!-- Content Injected Here -->
  <div class="col-md-6" ng-include="content"></div>

  <!-- Empty Column -->
  <div class="col-md-3"></div>
  </div>

<div class="row">
 <br>
 <div class="col-md-12 footer">
   <div class="text-center footer-txt">Copyright 2015 Beikoku Shidokan Association</div>
 </div>
</div>