<div class="row">
  <div class="col-md-12">
  <h2>Sensei Seikichi Iha</h2>
  <h4>Hanshi, 10th Dan</h4>

  <img class="img-with-txt" width="40%" src="imgs/iha.jpg">

  <p>A "teacher of teachers," Sensei Seikichi 
  Iha began his karate training in Okinawa more than 60 years ago, 
  studying under the renowned masters, Sensei Shinpan Gusukuma, and 
  Sensei Katsuya Miyahira.</p>

  <p>Before coming to Michigan, Iha Sensei 
  trained students in Okinawa, Japan, the Philippines, Guam, and 
  Los Angeles, California. His Lansing dojo is now the headquarters 
  for more than 30 North American schools and is frequently visited by 
  karate practitioners from around the globe.</p>

  <p>Iha Sensei is respected worldwide for his 
  tremendous practical knowledge of karate technique as well as for 
  his warm, engaging and expert teaching style. As he explains it, for Iha 
  Sensei, teaching karate-do is much more than teaching 
  self-defense. It is a way to learn about people through mutual 
  cooperation and a way to form lifelong friendships. Iha Sensei 
  believes that encouraging the development of cooperation, respect, 
  friendship and healthy living through karate is of great importance. 
  This philosophy is at the core of his instruction and daily 
  interactions with his students.</p>

  <p>It is Iha Sensei's hope that with the help 
  of their training in karate-do, his students can learn to cope with 
  any situation, be persistent, face problems with courage, take care of themselves, 
  to realize their optimum potential and to feel good about themselves. 
  He frequently tells his students that "Friendship and cooperation 
  are the most important part of karate."</p>
  </div>
</div>