<h2>Choshin Chibana<br><small>1885-1969</small></h2>

<p>Choshin Chibana was born June 5, 1885, in the Torihori district
	of Shuri. At the age of 15, Chibana placed himself under the tutelage
	of Anko Itosu, the preeminent Karate master of the day. For the next 13
	years until Itosu passing at the age of 85, Chibana remained a devoted
	pupil. He then practiced further austerities alone, until he finally
	opened his dojo in Torihori district at the age of 34. There and at his
	second dojo in Kumojo district of Naha City, he worked to teach the
	tenets of Karate.</p>

<p>After a narrow escape from in the Battle of Okinawa, Chibana
	returned to Shuri from the Chinen Village and immediately began
	teaching again, first in the Gibo area. He taught then at 10 different
	sites in Yamakawa district of Shuri and Naha, eventually relocating his
	main dojo from Asato, then to Mihara. During this period from February
	1954 to December 1958, he served as Karate Advisor and Senior
	Instructor for the Shuri Police Precinct. In May of 1956, the Okinawa
	Karate Federation was formed and he assumed office as its first
	President.</p>

<p>In August, 1964, in memory of the 50th anniversary of the death
	of his teacher Anko Itosu, Chibana Sensei erected a monument at the
	Itosu family tomb.</p>

<p>In 1960, the Okinawa Times newspaper awarded Chibana Sensei its
	first Award for Distinguished Public Service in Physical Education. In
	the spring of 1968, he was given the Fourth Degree of Merit Zuiho
	Decoration for survivors of the war. In 1966, he relocated to Tokyo's
	Cancer Center, where treatment allowed a brief reprieve which he used
	to train with his grandchildren. At the celebration in honor of his
	Zuiho Decoration, Chibana Sensei surprised and delighted the audience
	by dancing. However, he was incapacitated again before the end of the
	year, and on February 26, 1969, he passed away in Omaha Hospital at
	6:40 in the morning.</p>

<p class="foot-notes">By Katsuya Miyahira, Chairman, Okinawan Shorin Ryu Karate Association, March 22, 1972</p>

<hr>

<h2>Chibana Chosin - Sensei</h2>

<p>Chibana Choshin, the originator of shorin-ryu ("the small forest
	style") was born on June 5, 1885, at Tottori-cho in Shuri City,
	Okinawa. He began training with Itosu "Ankoh" in 1900, after dropping
	out of the Okinawa Kenritsu Dai-Ichi Chu-gakko (high school). He was
	then 15 years old.</p>

<p>He studied with Itosu until his teacher's demise on January 26,
	1915, at the age of 85. Five years after his teacher's death, he began
	teaching on his own. His first training hall was located at
	Tottori-bori and as his reputation spread, he was able to open up a
	second training hall in Kumo-cho, Naha.</p>

<p>Chibana remained on the island of Okinawa during World War II and
	narrowly escaped death when Shuri was destroyed by the Americans in
	1945. After the war, he once again began teaching Shorin-ryu in
	Giho-cho which is a section of Shuri City. During February, 1954, until
	December, 1958, he was also the Chief Karate-do Instructor for the
	Shuri City Police Department. On May 5, 1956, the Okinawa Karate-do
	Association was formed and he was appointed its first president.</p>

<p>Chibana's reputation as a karate master continued to spread, not
	only in Okinawa but also in mainland Japan. By 1957, he had received
	the title of Hanshi (High Master) from the Dai Nippon Butokukai (The
	Greater Japan Martial Virtue Association) and in 1960, he received the
	First Sports Award from the Okinawa Times Newspaper for his overall
	accomplishments in the study and practice of traditional Okinawan
	Karate-do. On April 29, 1968, Chibana-sensei brought further honor to
	Okinawan Karate-do by being awarded the 4th Order of Merit by the
	Emperor of Japan in recognition of his devotion to the study and
	practice of Okinawan karate-do.</p>

<p>In 1964, Chibana was advised that he had terminal cancer of the
	throat. But, because of his dedication to the art of Okinawa
	Shorin-ryu, he continued to teach even though his body began to weaken
	as the cancer spread. By 1966, he was admitted into Tokyo's Cancer
	Research Center for radiation treatment in an attempt to arrest the
	spread. After some improvement, Chibana once again resumed his teaching
	of Okinawa Shorin-ryu with his grandson, Nakazato Akira (Shorin-ryu
	7-Dan).</p>

<p>By the end of 1968, Chibana-sensei's condition became worse and
	he returned to Ohama Hospital. Despite the doctors' efforts to save his
	life, he died at 6:40 a.m. on the 26th of February, 1969, at the
	advanced age of 83.</p>

<h3>Chibana Sensei - A Man Of Butoku</h3>

<p>With the end of World War II, the island of Okinawa had taken on
	a new, modern look. The island was filled with American servicemen,
	American money and American machinery. The Okinawans once again looked
	towards Japan for their roots. The most prestigious Japanese martial
	arts organization, the Dai Nippon Butokukai (the Greater Japan Martial
	Virtue Association), had been out-lawed during the American military
	occupation of Japan. By the early 1950's, the U.S. Military became
	"more tolerant" and the Butokukai was again reorganized and open its
	doors to the new master teachers of the traditional martial arts.</p>

<p>It should be noted that during this period of time, many Okinawan
	styles still taught and stressed a more "jutsu" style of martial arts.
	Many of the old pictures in my collection show various dojo signs
	indicating that they were a school of Shorin-ryu Karate-jutsu or
	Uechi-ryu Karate-jutsu. In 1956 the Butokukai was advised that the
	Okinawans had formed their own organization and were in the process of
	standardizing the various branches of karate. By 1957, the Butokukai
	felt that the Okinawans were leaning toward BUDO style martial arts and
	invited a number of individuals to be honored.</p>

<p>On May 5, 1957, Chibana Choshin, who was then president of the
	Okinawa Karate-do Association, was awarded the title of Hanshi (Grand
	Master) from the new Dai Nippon Butokukai. This was the first time that
	the Butokukai has awarded a so prestigious title to an Okinawan. At the
	time of his award, the senior most martial arts experts of the
	Butokukai asked Chibana-sensei what he considered the most important
	quality for a traditional martial artist. Chibana-sensei replied:</p>

<p>Butoku (Martial Virtue; Martial Honor)! We are born with only one
	sole possession... this is our name. When we die, all material things
	mean nothing. We die with our only true possession... our name. We strive
	to bring honor to our name. We, as teachers of the martial arts, have
	even a deeper responsibility... we mold and guide the young. We must
	develop a strong martial honor in order to do this. This is the road I
	follow. This is what shorinryu karatedo is... my martial honor and my
	responsibility.</p>

<p>(Note: Initially, I never used the "Butoku" part of the essay. I
	thought is was too simple and had very little meaning for todays
	practitioner. I have been practicing shorinryu for 40 years now... I have
	reviewed and studied the vast amounts of quotes and concepts that
	Chibana Dai Sensei has passed on to his students, followers and
	practitioners of the Okinawan martial arts. Truly, I must be a slow
	learner, for only now (after 40 years) , I believe that I understand
	what he is saying. Hopefully, you will not only read this but study it...
	it applies not only to the style I practice but to all traditional
	martial arts.)</p>

<p class="foot-notes">Submitted courtesy of Ernest Estrada, Okinawa Shorinryu Kyoshi</p>