<h2>Katsuya Miyahira<br><small>1918-2010 </small></h2>

<h2>Many Years Have Passed Since Starting to Learn the Way of Karate</h2>

<p>article</p>

<h3>Shorinryu</h3>

<p>article here</p>

<h3>Career Outline</h3>

<p>outline here</p>

<p class="foot-notes">By Morinobu Maeshiro (Secretary-General of the Okinawa Shorinryu Karate Association)</p>

<h2>Miyahira Katsuya (Shorinryu)</h2>

<p>summary here</p>

<h3>Thoughts on Sparring</h3>

<p>section</p>

<h3>Thoughts on Correct Attitude</h3>

<p>section</p>

<h3>Thoughts on Kata</h3>

<p>section</p>

<h3>Thoughts on Karate Styles</h3>

<p>section</p>

<h3>The Toe-tipped Kick</h3>

<p>section</p>

<h3>Shorinryu Maxims</h3>

<p>section</p>

<h3>Proper Spirit in Karatedo Training</h3>

<p>section</p>

<h3>Shorinryu Conduct</h3>

<p>section</p>

<h3>Proper Conduct in the Dojo</h3>

<p>section</p>

<p class="foot-notes">Submitted courtesy of Ernest Estrada, Okinawa Shorinryu Kyoshi</p>