<h2>About</h2>
<p>The Beikoku Shido-kan Association encompasses active members 
training in over 30 affiliated dojos located throughout North America, 
as well as overseas in Australia, Israel and Russia.</p>

<p>Headquartered in Lansing, Michigan USA, the Association is overseen 
by Seikichi Iha, Hanshi 10th Dan. Iha Sensei's often-stated goal is the 
continuous promotion of friendship and cooperation among all students of 
karatedo. Only through this, can one truly pratice and grow.</p>

<p>To accomplish this goal, Iha Sensei maintains an intensive travel 
schedule to stay in touch with all of his students throughout the world. 
For your convenience, his itinerary is maintained on this web site.</p>

<p>In addition to regular seminars held by affiliated dojos, every summer, 
a National Training Seminar is sponsored by the Association's Hombu dojo in 
Lansing, Michigan. This <i>must-attend</i> event attracts participants from 
around the world, and includes many Okinawan Shidokan teachers and 
accomplished students.</p>

<p>Association sponsored training events can be found <a href="/events.html">here</a>.</p>
<hr>

<h2>Membership</h2>
<p>Your membership in the Beikoku Shido-kan Association signifies your support 
to Iha Sensei in helping promote friendship and cooperation to all students of 
karatedo throughout the world. In addition, you'll receive the following member 
only benefits:</p>
<ul>
  <li>Membership certificate</li>
  <li>Directory of current members</li>
  <li>Black Belt certification (rank prerequisites and testing fee are
  still applicable)</li>
  <li>Discount on association sponsored events</li>
  <li>Discount on Activewear</li>
</ul>
<p>A membership application is available for download <a href="/association/documents.html#MemberApplication">here.</a></p>
<hr>

<h2>Association Documents & Forms</h2>
<p>Testing forms, membership applications, and the association directory can be found <a href="/association/documents.html">here.</a></p>
<hr>

<h2 name="dojos">Affiliated Dojos</h2>

<association-map></association-map>
<br>
<div class="text-center">
  <span><img src="imgs/marker-ylw.png">&nbspHombu</span>
  <span><img src="imgs/marker-red.png">&nbspShibu</span>
  <span><img src="imgs/marker-blu.png">&nbsp Fuku Shibu</span>
</div>

<h2>Hombu Dojo</h2>
<dojo-list type="hombu"></dojo-list>
<hr>

<h2>Shibu Dojos</h2>
<dojo-list type="shibu"></dojo-list>
<hr>

<h2>Fuku Shibu Dojos</h2>
<dojo-list type="fuku shibu"></dojo-list>
<hr>

<h2>Jun Shibu Dojos</h2>
<dojo-list type="jun shibu"></dojo-list>
<hr>