<h2>Origins</h2>
<p>Okinawa is the birthplace of karatedo, a cultural treasure and oral tradition that has
spread throughout the world and is practiced by millions. The Beikoku Shidokan story is only
one of the many threads within the diverse and rich living tapestry of traditions encompassed
by Okinawan karatedo. The following history chronicles some of the teachers and events that
played key roles in the development of the Shidokan branch of Okinawan Shorin-ryu.</p>

<h2>Lineage & Biographies</h2>

<a class="btn iha-btn iha-lst-btn btn-sm" href="matsumura.html">Sokon Matsumura</a>
<a class="btn iha-btn iha-lst-btn btn-sm" href="itosu.html">Anko Itosu</a>
<a class="btn iha-btn iha-lst-btn btn-sm" href="chibana.html">Choshin Chibana</a>
<a class="btn iha-btn iha-lst-btn btn-sm" href="gusukuma.html">Shinpan Gusukuma</a>
<a class="btn iha-btn iha-lst-btn btn-sm" href="miyahira.html">Katsuya Miyahira</a>
<a class="btn iha-btn iha-lst-btn btn-sm" href="sensei.html">Seikichi Iha</a>

<img class="center-block" src="imgs/lineage.jpg">

<history-view></history-view>