<h2>Welcome</h2>
<p>The Beikoku Shidokan hombu (home) dojo is always open to new students and
visitors alike. Whether you are interested in joining, you are currently a 
Beikoku Shidokan member, or you are just interested in observing. Dojo location
and class times can be found below.</p>

<p>If you are visiting from out of town, please check Sensei's <a href="events.html">itinerary</a>
before making travel arrangements to ensure he will not be out of town.</p>

<h2>Location</h2>
<p>The dojo is located at 2018 East Michigan Ave, Lansing, Michigan.</p>

<h2>About</h2>
<p>Headquarters of the Beikoku Shidokan Association, Sensei Iha opened 
the hombu dojo in Lansing, MI in 1976. </p>

<h2>Try a class</h2>
<p>Try a complimentary class! New students are welcome to join at
any time. Both youth and adult classes are available. The study of
karate-do can become a long-term personal investment, so it is
recommended that you observe or participate in a class, talk with
the instructors, and then decide if the dojo and style are right 
for you. Call (517) 482-3217 or email mail@ihadojo.com 
to arrange a time to visit.</p>

<h2>Class schedule</h2>
<table>
<tr>
<td></td><td>MON</td><td>TUE</td><td>WEN</td><td>THU</td><td>FRI</td><td>SAT</td>
</tr>
<tr>
<td><b>Youth</b></td><td>-</td><td>4.30-5.30PM</td><td>-</td><td>4.30-5.30PM</td><td>-</td><td>-</td>
</tr>
<tr>
<td><b>Adult</b></td><td>12-1PM</td><td>-</td><td>12-1PM</td><td>-</td><td>12-1PM</td><td>9-10AM</td>
</tr>
<tr>
<td><b>Adult</b></td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>5.30-6.30PM</td><td>-</td>
</tr>
<tr>
<td><b>Kobudo</b></td><td>-</td><td>6.30-7.30PM</td><td>-</td><td>6.30-7.30PM</td><td>-</td><td>-</td>
</tr>
</table>

<association-map hombu="true"></association-map>