<div style="width:75%" ng-controller="CarouselCtrl" class="iha-carousel"><!-- TODO move style to css -->
  <carousel interval="interval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.img}}">
      <div class="carousel-caption">
        <h3 class="iha-carousel-text">{{slide.text}}</h3>
      </div>
    </slide>
  </carousel>
</div>

<br>

<h2>Welcome</h2>
<p>Welcome to the Beikoku Shidokan Karatedo Association's <i>new</i> home page. News and 
information on Sensei Seikichi Iha, Hanshi, 10th Dan, and the Beikoku Shidokan Karatedo 
Association can be found here.</p>

<h2>Find a Dojo<br></h2>
<p>Find a list of our affiliate dojos <a href="association.html#dojos">here</a>.

<h2>News</h2>
<p>The Iha Dojo is always open to visitors, whether are a traveling Shidokan
student, pre-dan test student, prospective new student, or just interested in
observing. Visitors are <i>always</i> welcome to participate in a Shidokan
karate class.</p>

<p>Some more news.</p>

<h2>Upcoming Events</h2>
<evt-view evt-count="3" show-past-evts="false"></evt-view>
<p>Events for the entire year can be found <a href="events.html">here</a>.</p>