<div ng-controller="CarouselCtrl" class="iha-carousel"><!-- TODO move style to css -->
  <carousel interval="interval">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.img}}">
      <div class="carousel-caption">
        <h3 class="iha-carousel-text">{{slide.text}}</h3>
      </div>
    </slide>
  </carousel>
</div>

<br>

<h2>Welcome</h2>
<p>Welcome to the Beikoku Shidokan Karatedo Association's home page. News and 
information on Sensei Seikichi Iha, Hanshi, 10th Dan, and the Beikoku Shidokan Karatedo 
Association can be found here.</p>
<hr>

<h2>News</h2>
<p><a href="association/downloads/before_and_after_nts_schedule.pdf">Before/After NTS Schedule Download.</a> <i>Updated July 27th.</i></p>

<p>The Iha Dojo is always open to visitors, whether you are a traveling Shidokan
student, pre-dan test student, prospective new student, or just interested in
observing. Visitors are <i>always</i> welcome to participate in a Shidokan
karate class.</p>
<hr>

<h2>Find a Dojo<br></h2>
<p>Find a list of our affiliate dojos <a href="association#dojos">here</a>.
<hr>

<h2>Upcoming Events</h2>
<p>The Beikoku Shidokan Okinawa Trip 2019 tentative itinerary is now available. <a target="_blank" href="/association/downloads/okinawa_trip_2019.pdf">Click here to download</a>.</p>
<evt-view evt-count="4" show-past-evts="false"></evt-view>
<p>Events for the entire year can be found <a href="events">here</a>.</p>
<hr>

<iframe width="100%" height="400" style="padding-bottom: 20px" src="https://www.youtube.com/embed/skZHEgXRmRk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p class="foot-notes">This site is maintained by the students of Sensei Iha to share news and 
information about the Beikoku Shidokan Karatedo Association.</p>
<hr>