<h2>Site Map</h2>
<ul>
	<li><a href="/biographies/sensei.html">Sensei Iha</a>
		<ul>
			<li><a href="/biographies/sensei.html#TheIhaDojo">The Iha Dojo</a></li>
			<li><a href="/biographies/sensei.html#Background">Background</a></li>
			<li><a href="/biographies/sensei.html#AnInterview">An Interview</a></li>
		</ul>
	</li>
	<hr>
	<li><a href="/association.html">Association</a>
		<ul>
			<li><a href="/association.html#About">About</a></li>
			<li><a href="/association.html#Membership">Membership</a></li>
			<li><a href="/association.html#AssociationDocumentsAndForms">Association Documents & Forms</a>
				<ul>
					<li><a href="/association/documents.html#AssociationDirectory">Association Directory</a></li>
					<li><a href="/association/documents.html#MemberApplication">Member Application</a></li>
					<li><a href="/association/documents.html#EquipmentOrderForms">Equipment Order Forms</a></li>
					<li><a href="/association/documents.html#DanTestingForms">Dan Testing Forms</a></li>
					<li><a href="/association/documents.html#KyuTestingForms">Kyu Testing Forms</a></li>
					<li><a href="/association/documents.html#AssociationBylaws">Association Bylaws</a></li>
				</ul>
			</li>
			<li><a href="/association.html#AffiliatedDojos">Affiliated Dojos</a></li>
			<li><a href="/association.html#HombuDojo">Hombu Dojo</a></li>
			<li><a href="/association.html#ShibuDojos">Shibu Dojos</a></li>
			<li><a href="/association.html#FukuShibuDojos">Fuku Shibu Dojos</a></li>
			<li><a href="/association.html#JunShibuDojos">Jun Shibu Dojos</a></li>
		</ul>
	</li>
	<hr>
	<li><a href="/hombu.html">Iha Dojo</a>
		<ul>
			<li><a href="/hombu.html#Welcome">Welcome</a></li>
			<li><a href="/hombu.html#Location">Location</a></li>
			<li><a href="/hombu.html#About">About</a></li>
			<li><a href="/hombu.html#TryAClass">Try a class</a></li>
			<li><a href="/hombu.html#ClassSchedule">Class Schedule</a></li>
		</ul>
	</li>
	<hr>
	<li><a href="/history.html">History</a>
		<ul>
			<li><a href="/history.html#Origins">Origins</a></li>
			<li><a href="/history.html#LineageAndBiographies">Lineage & Biographies</a>
				<ul>
					<li><a href="/biographies/matsumura.html">Sokon Matsumura</a></li>
					<li><a href="/biographies/itosu.html">Anko Itosu</a></li>
					<li><a href="/biographies/chibana.html">Chosin Chibana</a></li>
					<li><a href="/biographies/gusukuma.html">Shinpan Gusukuma</a></li>
					<li>Choki Motubu</li>
					<li><a href="/biographies/miyahira.html">Katsuya Miyahira</a></li>
					<li><a href="/biographies/sensei.html">Seikichi Iha</a></li>
				</ul>
			</li>
			<li><a href="/history.html#Timeline">Timeline</a></li>
			<li><a href="/history.html#TheHistoryOfShorinRyu">The History of Shorin Ryu (by Katsuya Miyahira)</a></li>
			<li><a href="/history.html#HistoryOfOkinawaKarateAndKobudo">History of Okinawa Karate & Kobudo</a></li>
		</ul>
	</li>
	<hr>
	<li><a href="/events.html">Events</a>
		<ul>
			<li><a href="/nts.html">National Training Seminar (NTS)</a>
				<ul>
					<li><a href="/nts.html#WhoShouldAttend">Who Should Attend?</a></li>
					<li><a href="/nts.html#Location">Location</a></li>
					<li><a href="/nts.html#YouthSessions">Youth Sessions</a></li>
					<li><a href="/nts.html#Kobudo">Kobudo</a></li>
					<li><a href="/nts.html#Lodging">Lodging</a></li>
					<li><a href="/nts.html#Parking">Parking</a></li>
					<li><a href="/nts.html#Schedule">Schedule</a></li>
					<li><a href="/nts.html#DanTest">Dan Test</a></li>
					<li><a href="/nts.html#Registration">Registration</a></li>
					<li><a href="/nts.html#DowntownLansing">Downtown Lansing</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<hr>
</ul>